body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #2c3e50;
}

header {
    background-color: #0f3357;
    color: white;
    padding: 1rem 2rem 1rem 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header h1 {
    color: white;
    margin: 0;
    font-size: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 0.5rem;
}

nav a:hover {
    text-decoration: underline;
}
